:root {
  --theme-primary-light: hsl(84, 63%, 51%);
  --theme-primary-middle: hsl(96, 65%, 42%);
  --theme-primary-petrol: hsl(180, 96%, 31%);
  --theme-background: black;
}

.slidev-layout {
  background-size: 10rem;
  background-color: var(--theme-background);
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;
  h1 {
    @apply leading-20 text-6xl;
  }
}

.slidev-layout.intro {
  h1+p {
    @apply -mt-2 opacity-50 mb-4;
  }
}

.slidev-layout.quote {
  p {
    @apply leading-10;
  }
}

.slidev-layout.has-logo {
  background-image: url(../assets/scc.png);
  background-repeat: no-repeat;
  background-position: bottom 2rem right 2rem;
}

.dark #slide-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: serif;
    color: var(--theme-primary-petrol);
  }
  a {
    color: var(--theme-primary-middle);
  }
  a:hover {
    color: var(--theme-primary-light);
  }
}

.footnotes-sep {
  @apply opacity-15 w-3/4;
}

.footnote-backref {
  display: none;
}

.slidev-vclick-target {
  transition: all 500ms ease;
}

.slidev-vclick-hidden {
  transform: scale(0);
}

.fade {
  .slidev-vclick-target {
    transition: all 500ms ease;
  }
  
  .slidev-vclick-hidden {
    transform: none;
  }

  .slidev-vclick-prior {
    @apply !opacity-40;
  }
}